<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642503416050-cbt1m91i1pq7ui9o9egse70udc3jt8f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642503416050-cbt1m91i1pq7ui9o9egse70udc3jt8f0</string>
	<key>API_KEY</key>
	<string>AIzaSyCZYG9mGtAA-qofr8knm4D2mA518NmLgEs</string>
	<key>GCM_SENDER_ID</key>
	<string>642503416050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rabbitsend.user</string>
	<key>PROJECT_ID</key>
	<string>rabbitsend-app</string>
	<key>STORAGE_BUCKET</key>
	<string>rabbitsend-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:642503416050:ios:1c5b2ac4ade0381ff3d86b</string>
	<key>DATABASE_URL</key>
	<string>https://rabbitsend-app.firebaseio.com</string>
</dict>
</plist>
